@font-face {
    font-family: 'merriweather bold';
    src: url('../../assets/fonts/Merriweather-Bold.woff2') format('woff2'),
        url('../../assets/fonts/Merriweather-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'montserrat regular';
    src: url('../../assets/fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../../assets/fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'montserrat bold';
    src: url('../../assets/fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../../assets/fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'montserrat medium';
    src: url('../../assets/fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../../assets/fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'montserrat semibold';
    src: url('../../Montserrat-SemiBold.woff2') format('woff2'),
        url('../../Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

